.top-landing-background {
  background: url('images/Option2.jpeg') no-repeat center center fixed;
  background-size: cover;
  height: 500px;
}

.middle-white-background {
  background-color: white;
  color: orangered;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bottom-gray-background {
  background-color: gray;
  color: coral;
  padding-top: 30px;
  padding-bottom: 60px;
}

.gray-footer {
  background-color: gray;
  border: darkgreen;
  color: coral;
}

.sign-in-page {
  padding-bottom: 50px;
}

.sign-in-backdrop {
  background: url('images/Option2.jpeg');
  background-size: cover;
}

.footer-fixation {
  bottom: 0;
  left: 0;
  top: auto;
  right: auto;
  position: fixed;
  width: 100%;
}

.home-background {
  background: url("https://manoa.hawaii.edu/admissions/virtual/downloads/ManoaGreenBG.jpg") no-repeat center center fixed;
  background-size: cover;
  padding-bottom: 60px;
}

.profile-background {
  background: url("https://manoa.hawaii.edu/admissions/virtual/downloads/ManoaGreenBG.jpg") no-repeat center center fixed;
  background-size: cover;
}

.search-background {
  background: url('images/garden.jpeg');
  background-size: cover;
  padding-bottom: 60px;
}

.position-admin-background {
  background: url("https://manoa.hawaii.edu/admissions/virtual/downloads/ManoaGreenBG.jpg") no-repeat center center fixed;
  background-size: cover;
  padding-bottom: 60px;
}

.ui.item.item {
  color: white;
}

#searchbar {
  width: 400px;
}

#results {
  padding-top: 50px;
  padding-bottom: 100px;
}

#yours {
  margin-bottom: 30px;
}

#postings {
  margin-top: 50px;
  margin-bottom: 10px;
}

.ui.grid.column.rightGrid {
  marginRight: '200px'
}

.ui.fluid.card.message.card {
  width: 150%;
}
